<div class="text-center border pt-4 pb-5 ml-lg-4">

  <div class="mb-2">
    <%#= image_tag url_for(@agent.profile_picture), class: "float-right mb-4 ml-4" if @agent.profile_picture.attached? %>

    <%= profile_picture @agent  if @agent.image.attached? %>
  </div>


 <h3 class="h4"><%= @agent.full_name %></h3>
 <p> <%= @agent.company %></p>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-block btn-info text-uppercase" data-toggle="modal" data-target="#contact_modal" ><%= @agent.telephone %> </button>

      <!--      <button class="btn btn-block btn-info text-uppercase mb-3" data-telephone="<%#= @agent.telephone %>"></i> <span>Call</span></button>-->
<!--      <p> <%#= @agent.company %></p>-->

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 pr-1">
      <%= link_to "Profile", profile_path(@agent.id), class: "btn btn-secondary btn-block text-uppercase"%>
    </div>
    <div class="col-md-6 pl-1">
      <button class="btn btn-block btn-success text-uppercase" data-toggle="modal" data-target="#contact_modal" ><%= @agent.email %> </button>
    </div>
  </div>
</div>