<p id="notice"><%= notice %></p>


<h1 class="h3">Properts</h1>


<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :address_cont %>
  <%= f.search_field :address_cont %>

  <%= f.submit "search" %>
<% end %>

<table class="table table-stripped">
  <thead>
    <tr>
<!--     <th> <%#= sort_link(@q, :name) %></th>-->
      <th>Name</th>
      <th>Address</th>
      <th> <%= sort_link(@q, :price) %></th>
      <th> <%= sort_link(@q, :rooms) %></th>
      <th> <%= sort_link(@q, :bathrooms) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @properts.each do |propert| %>
      <tr>
        <td><%= propert.name %></td>
        <td><%= propert.address %></td>
        <td><%= propert.price %></td>
        <td><%= propert.rooms %></td>
        <td><%= propert.bathrooms %></td>
        <td><%= link_to 'Show', propert %></td>
        <td><%= link_to 'Edit', edit_propert_path(propert) %></td>
        <td><%= link_to 'Destroy', propert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @properts %>
<br>

<%= link_to 'New Propert', new_propert_path, class: "btn btn-success" %>
