<!--<div class="propert-main-photo" style="background-image: url('<%#= propert_photo_url @propert %>')">-->
      <%#= propert_photo(@propert) %>
  <div class="photo-overlay">
</div>
</div>
      <div class="container ">
        <div class="row">
          <div class="col-8">
      <p>
  <strong>Name:</strong>
  <%= @propert.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @propert.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @propert.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @propert.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @propert.bathrooms %>
</p>

<!--<%#= link_to 'Edit', edit_propert_path(@propert), class: "btn btn-success" %> |-->
<%#= link_to 'Back', properts_path %>
    </div>
          <div class="col-4">
            <% render "properts/agent_details" %>
<!--            Agent info-->
        </div>
  </div>
</div>