
<p>
  <strong>Name:</strong>
  <%= @propert.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @propert.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @propert.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @propert.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @propert.bathrooms %>
</p>

<%= link_to 'Edit', edit_propert_path(@propert) %> |
<%= link_to 'Back', properts_path %>
